body{
    background-color: rgba(200, 198, 198, 0.712);
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.gallery{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 2rem ;
    justify-content: center;
}

.img_gale{
    background-color: rgb(27,20,19);
    width: 200px;
    height: 200px;
    border: solid 2px rgb(4, 4, 4);
    overflow: hidden;
    border-radius: 0 10%;
    
}

.im1{
    border-radius: 10% 0;
}

.img_gale:hover{
    box-shadow: 0 0 30px rgb(45, 47, 47);
    filter: grayscale(0);
    transform: rotate(-6deg);
}

/* img_gale{
    width: 200px;
    height: 200px;
    object-fit: cover;
    filter: grayscale(1);  
}

img_gale:hover{
    transform: scale(1.2);
    filter: opacity(1);
    transition: .4s;
} */

.im1:hover{
    transform: rotate(6deg);
}