* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: hack nerd font;
}

body {
    background-color: rgba(200, 198, 198, 0.712);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: -0.5px;
    height: 100%;
    width: 60%;
    margin: 50px auto;
    font-size: 1.5rem;
}

.imag,
.menu_logo {
    width: 50px;
    height: 50px;
}

#toggle_menu,
.menu_logo {
    display: none;
}

#toggle_menu {
    position: absolute;
    top: 30px;
    right: 30px;
}

ul {
    list-style-position: inside;
}

.navbar {
    position: relative;
    display: flex;
    padding: 1rem;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    position: absolute;
    left: 1.5rem;
}


.menu_list {
    display: flex;
    margin: 10px 0 10px 0;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.menu_list a {
    text-decoration: none;
    color: white;
}

.menu_list a:hover {
    color: black;
    box-shadow: 0 0 10px white;
    background-color: white;
    border-radius: 3px;
    transition: .3s;
}

.menu_late {
    position: relative;
}

.menu_late {
    position: absolute;
    top: 70px;
    left: 0;
    padding: 20px 15px;
    background-color: rgba(200, 198, 198, 0.712);
    border: 1px solid rgba(0, 0, 0, 0.15);
    list-style: none;
    border-radius: 20px;
    box-shadow: #222 0 0 10px;
}

.menu_late .menulate {
    margin-bottom: 12px;
}

.menu_late .menulate a {
    text-decoration: none;
    color: #222;
    font-size: 1.6rem;
    display: block;
    padding: 8px 10px;
    border-radius: 6px;
}

.menu_late .menulate a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform: scale(1.20) translateY(-5px);
    transition: .3s;
}

.imgflex {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 20px;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

.imgbox {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 20px;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}


h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    margin: 0;
}

ul {
    list-style-position: inside;
    margin-bottom: 20px;
}


table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

th,
td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #444;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.menu_late:has(.logocheck:checked) {
    opacity: 1;
    transition: .6s;
    transform: translateY(20px);
}

@media (max-width: 800px) {

    .tabla {
    height: auto;
    width: 255px;
    table-layout: fixed
    }
    
    .imag {
        display: none;
    }

    .menu_logo {
        display: block;
    }

    .navbar {
        flex-direction: row-reverse;
    }

    .menu_late {
        opacity: 0;
        margin: 0 auto;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        padding: 0 auto 0 auto;
        width: 410px;
        text-align: center;
        background-color: rgba(200, 198, 198, 0.877);
    }
}




@media (max-width: 400px) {
    .menu_late {
        opacity: 0;
        margin: 0 auto;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        padding: 0 auto 0 auto;
        width: 380px;
        text-align: center;
        background-color: rgba(200, 198, 198, 0.877);
    }

    .tabla {
    height: auto;
    width: 231px;
    table-layout: fixed
    }
}


footer {
    padding: 4px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
    font-size: 2rem;
    font-weight: 600;
}